.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .btn-block {
	margin-top: 10px;
}
.results-wrapper ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.results-wrapper li {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px #d1d1d1;
    border-radius: 12px;
    margin: 15px 0;
}
.results-wrapper li .desc {
	height: 42px;
	overflow: hidden;
	margin-bottom: 20px;
}
.results-wrapper li .lastUpdated,
.results-wrapper li .openIssues {
	font-size: 12px;
	font-style: italic;
}
.results-wrapper li .raiseNewIssue {
	display: inline-block;
	margin-left: 10px;
	font-style: normal;
}
.modal-title {
	font-size: 24px;
	display: inline-block;
}